<% pStatus = note.isNew() ? "inactive" : "" %>
<p class="main_input <%= pStatus %>"><%= note.get('body') %></p>

<% inputStatus = note.isNew() ? "" : "inactive" %>
<div contentEditiabl="true" name="body" class="main_input <%= inputStatus %>"><%= note.get('body') %></div>
<input type="file" class="fileInp" value="add file"></input>
<% if (note.get('image_url')!== '/images/original/missing.png') { %>
  <img src="<%= note.get('image_url') %>">
<% } %>
