<!DOCTYPE html>
<html>
<head>
  <title>BetterNote</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="hidden_input inactive" data-csrfToken="<%= form_authenticity_token %>"></div>
<%= render 'shared/errors' %>
<%= yield %>

</body>
</html>
